.news-list {
  max-height: 180px;
  overflow-y: auto;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 10px 12px 10px 6px;
  background-color: #fafafa;
  margin-bottom: 30px;
}

.news-list::-webkit-scrollbar {
  width: 4px;
}

.news-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

.news-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}
